**/**/learning_agents_in_lcel.ipynb
.pytest_cache
.mypy_cache
__pycache__
credentials.json
token.json
**/data/vectorstore
.chroma
**/.chroma
test_env
archived
interview.txt
.DS_Store
**/**/.DS_Store
**/**.index
oreilly
**.model