accelerate
Bottleneck
chromadb
diffusers
docx2txt
faiss-cpu
ftfy
gensim
getpass2
glob2
google-cloud-storage
google-search-results
gradio
html2text
ipywidgets
langchain
langchainhub
langchain-community
langchain-experimental
langchain-mistralai
langchain-text-splitters
langchain-openai
lark
matplotlib
natsort
nest_asyncio
notebook
numexpr
numpy
openai
pandas
pdf2image
pillow
pinecone-client
pydantic
pymongo
pypdf
pytest-playwright
python-dotenv
scikit-learn
scipy
sentence-transformers
serpapi
spacy
tabulate
tiktoken
torch
tqdm
transformers
unstructured
unstructured[docx]
# triton - Only include this for Windows and not Mac
PyYAML
pytest
